# Node / Frontend
pokefact-front/node_modules/
pokefact-front/dist/
pokefact-front/.env
pokefact-front/*.log

# Python / Backend
pokefact-back/__pycache__/
pokefact-back/*.pyc
pokefact-back/.env

# Global
.vscode/
.DS_Store
*.log
docker-compose.override.yml
